<footer class="footer">
    <%= link_to image_tag("国科大.jpg", id: "logo", width: "200")%>
    <br>

  <small>
    <div >版权所有©中国科学院大学<br>地址：北京市石景山区玉泉路<br>邮编: 100049</div>
  </small>

  <nav>
    <ul>
      友情链接：
      <%= link_to "中国科学院","http://www.cas.cn/" %>&nbsp;|&nbsp;
      <%= link_to "国科大","https://www.ucas.ac.cn/" %>&nbsp;|&nbsp;
      <%= link_to "校友网","http://alumni.ucas.ac.cn/index.php/zh/" %>&nbsp;|&nbsp;
      <%= link_to "教育云","http://sep.ucas.ac.cn/" %>
    </ul>
  </nav>
  
  </div>
</footer>
